@import "fonts";
@import "null";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  background-color: #e5007e;
  padding: 0 40px;
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 30px;
  color: white;
  transition: 0.3s;
  width: fit-content;
  &:hover {
    background-color: #7e134e;
  }
  @media (max-width: 640px) {
    font-size: 14px;
  }
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
html {
  scroll-behavior: smooth;
}

@import "./sections/header";
@import "./sections/intro";
@import "./sections/footer";
@import "./sections/about-us";
@import "./sections/advantages";
@import "./sections/products-intro";
@import "./sections/product-items";
@import "./sections/order-intro";
@import "./sections/personal-account";
