.advantages {
  padding-top: 70px;
  &__title {
    margin-bottom: 55px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      img {
        width: 87px;
      }
      span {
        position: absolute;
        font-size: 25px;
        line-height: 30px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
      }
    }
  }
}
