.advantages {
  padding-top: 70px;
  &__title {
    margin-bottom: 55px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      transition: 0.3s;
      svg {
        width: 87px;
        transition: 0.3s;
      }
      span {
        position: absolute;
        font-size: 25px;
        line-height: 30px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
      }
      &:hover {
        color: #e5007e;
        svg {
          fill: #e5007e;
        }
      }
    }
  }
}
