.intro {
  height: 1100px;
  background-image: url("../img/bg.png");
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    & > div:first-child {
      display: flex;
      justify-content: space-between;
    }
    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
  img {
    width: 724px;
  }
  &__icons {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    li {
      a {
        svg {
          width: 32px;
        }
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    li {
      font-size: 18px;
      line-height: 22px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      img {
        width: 38px;
      }
    }
  }
}
