.product-items {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: black;
    margin: 0 -15px;
    & > div {
      position: relative;
      padding-top: 20px;
      background: black;
      a {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        font-size: 20px;
        line-height: 26px;
        padding: 0 10px;
        transition: 0.3s;
        &:hover {
          color: #e5007e;
        }
      }
    }
    @media (max-width: 1366px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
